@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datenbank Rollenspiel!";
}

<h2>YO WASSUP!!!!!</h2>

<p>Very Cool! und so.</p>
<a asp-area="" asp-controller="Database" asp-action="Welcome">Click here to go to the Welcome page</a>
