@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Datenbank Rollenspiel!";
}
<style>
    .dropDownContainer {
        display: block;
        position: relative;
        padding-left: 18px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Versteckt den Default Checkmark. */
    .dropDownContainer input {
        width: 0px;
        opacity: 0;
        height: 0px;
    }

    .dropDownSquare {
        position: relative;
        display: inline-block;
        margin-bottom: 2px;
        background-color: lightgrey;
        padding-left: 15px;
        padding-right: 15px;
        transition-duration: 0.2s;
        color: dimgrey;
        border-radius: 8px;
    }

    .playerInfoButton {
        border: none;
        color: black;
        font-size: 10px;
        height: 0px;
        width: 0px;
        opacity: 0;
    }

    .playerWidth {
        background-color: lightgrey;
        transition-duration: 0.2s;
        padding-left:15px;
        color: dimgrey;
        border-radius: 8px;
        height: 0px;
        font-size: 0px;
    }


    .dropDownContainer:hover input ~ .dropDownSquare {
        background-color: darkgray;
        color: dimgray
    }

    .dropDownContainer input:checked ~ .dropDownSquare {
        background-color: black;
        color: white;
    }

    .dropDownContainer input:checked ~ .playerWidth {
        height: auto;
        font-size: 22px;
    }

    .dropDownContainer input:checked ~ .playerInfoButton {
        height: auto;
        width: auto;
        opacity: 255;
    }
    

</style>

@foreach (var player in ViewData["listOfPlayers"] as List<sql.Player>)
{

    <label class="dropDownContainer">
        <li class="dropDownSquare">@Html.ActionLink($"{@player.className} | {@player.Name} >>","ShowPlayer", new { @id = @player.Id })</li>
    </label>
    <p></p>
}

@functions {
    public static string guiPlayerInfoRectangle(sql.Player player)
    {
        return "square";
    }
}



